<!doctype html> 
<html lang="en"> 

<head> 
<!-- Required meta tags -->
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous"> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
</script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
</script> 
<title>Portfolio</title> 
</head> 

<body> 



<!-- Navbar Section -->
<nav class="navbar navbar-expand-sm bg-success navbar-light" style="background-color: #6f42c1!important;"> 
	<!-- Brand/logo -->
	
	<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapse_Navbar"> 
	<span class="navbar-toggler-icon"></span> 
	</button> 
	<div class="collapse navbar-collapse" id="collapse_Navbar"> 
	<ul class="navbar-nav"> 
		<li class="nav-item"> 
		<a class="nav-link text-white" href="#about">About</a> 
		</li> 
		<li class="nav-item"> 
			<a class="nav-link text-white" href="{{ url_for('static',filename='LP_CV.pdf') }}">Download CV</a> 
			</li>		 
		<li class="nav-item"> 
		<a class="nav-link text-white" href="#contact-us">Contact</a> 
		</li> 
	</ul> 
	</div> 
</nav> 


<!-- Carousel wrapper -->
<div id="carouselExampleControls" class="carousel slide text-center carousel-dark"
	data-ride="carousel"> 
	<div class="carousel-inner"> 
	<div class="carousel-item active"> 
		<img class="rounded-circle shadow-1-strong mb-4"
		src="../static/images/LP_PP.jpg" alt="avatar" style="width: 150px;" /> 
		<div class="row d-flex justify-content-center"> 
		<div class="col-lg-8"> 
			<h5 class="mb-3">Lakshmi Priya</h5> 
			
<p>Senior Technical Writer</p> 

			<p class="text-muted"> 
			<i class="fas fa-quote-left pe-2"></i> 
			
			</p> 

		</div> 
		</div> 
		<ul class="list-unstyled d-flex justify-content-center text-warning mb-0"> 
		<li><i class="fas fa-star fa-sm"></i></li> 
		<li><i class="fas fa-star fa-sm"></i></li> 
		<li><i class="fas fa-star fa-sm"></i></li> 
		<li><i class="fas fa-star fa-sm"></i></li> 
		<li><i class="far fa-star fa-sm"></i></li> 
		</ul> 
	</div> 

	</div> 
	
</div> 
<!-- Carousel wrapper -->


<div class="section" id="about"> 
	<div class="container"> 
	<div class="card aos-init aos-animate"
		data-aos="fade-up" data-aos-offset="10"> 
		<div class="row"> 
		<div class="col-lg-6 col-md-12"> 
			<div class="card-body"> 
			<div class="h4 mt-0 title" id="about">About</div> 
				
<p>A seasoned technical writer with over 16 years of experience authoring diverse content tailored to diverse audiences. More than five years of experience producing technical documentation.<br><br> Possesses a comprehensive background in both technical and business domains, 
		enabling effective communication of product or service intricacies to a wide range of audiences. </p>
		<p><i>Writing samples will be provided on request.</i></p>

		
			</div> 
			<div class="text-center"> 
				<br>
									 
					<a class="btn btn-primary center" target="_blank"
					href="{{ url_for('static',filename='LP_CV.pdf') }}"
					data-aos="zoom-in"
					data-aos-anchor="data-aos-anchor"> 
					Download CV</a> 


				 
				</div> 
		</div> 

		<div class="col-lg-6 col-md-12"> 
			<div class="card-body"> 
			<div class="h4 mt-0 title">Skills</div> 
			<div class="row mt-3"> 
				<div class="col-sm-4"> 
				<strong class="text-uppercase"> 
					Documentation Types: 
				</strong></div> 
				<div class="col-sm-8">Developer guides, API documentation, user guides, white papers, case studies, training guides, RFPs and proposals</div> 
			</div> 
			<div class="row mt-3"> 
				<div class="col-sm-4"> 
				<strong class="text-uppercase"> 
					Project Management: 
				</strong></div> 
				<div class="col-sm-8">Stakeholder management, JIRA, agile and waterfall methodologies</div> 
			</div> 
			<div class="row mt-3"> 
				<div class="col-sm-4"> 
				<strong class="text-uppercase"> 
					Authoring: 
				</strong></div> 
				<div class="col-sm-8">Doc-as-code/Markdown, Microsoft® Word, Adobe® Technical Communication Suite, MadCap® Flare, and Author-IT</div> 
			</div> 
			<div class="row mt-3"> 
				<div class="col-sm-4"> 
				<strong class="text-uppercase"> 
					Programming: 
				</strong></div> 
				<div class="col-sm-8"> 
					Basic exposure to C, C++, and Python 
				</div> 
			</div> 
			<div class="row mt-3"> 
				<div class="col-sm-4"> 
				<strong class="text-uppercase"> 
					Others: 
				</strong></div> 
				<div class="col-sm-8">Git, Confluence, Postman, WordPress, Microsoft® SharePoint, Swagger (OpenAPI Spec), TechSmith SnagIt, and Microsoft® Visio.</div> 
			</div> 
			</div> 
		</div> 
		</div> 
	</div> 
	</div> 
</div> 


<div class="container"> 
	<div class="section" id="contact"> 
	<div class="cc-contact-information"> 
		<div class="container" style="margin-top: 3rem;"> 
		<div class="cc-contact"> 
			<div class="row"> 
			<!-- <div class="col-md-9"> -->
				<div class="h4 text-center title" id="contact-us"> 
				Contact Me 
			</div> 
			<div class="card mb-0" data-aos="zoom-in"> 
				
				<div class="row"> 
				<div class="col-md-6"> 
					<div class="card-body"> 
					<form action="/sendemail/" method="POST"> 
						<div class="p pb-3"> 
						<strong>Feel free to contact</strong> 
						</div> 
						<div class="row mb-3"> 
						<div class="col"> 
							<div class="input-group"> 
							<span class="input-group-addon"><i
								class="fa fa-user-circle"></i></span> 
							<input class="form-control" type="text"
									name="name" placeholder="Name"
								required="required" /> 
							</div> 
						</div> 
						</div> 
						<div class="row mb-3"> 
						<div class="col"> 
							<div class="input-group"> 
							<span class="input-group-addon"><i
								class="fa fa-file-text"></i></span> 
							<input class="form-control" type="text"
									name="Subject" placeholder="Subject"
								required="required" /> 
							</div> 
						</div> 
						</div> 
						<div class="row mb-3"> 
						<div class="col"> 
							<div class="input-group"> 
							<span class="input-group-addon"><i
								class="fa fa-envelope"></i></span> 
							<input class="form-control" type="email"
									name="_replyto" placeholder="E-mail"
								required="required" /> 
							</div> 
						</div> 
						</div> 
						<div class="row mb-3"> 
						<div class="col"> 
							<div class="form-group"> 
							<textarea class="form-control" name="message"
										placeholder="Your Message"
								required="required"></textarea> 
							</div> 
						</div> 
						</div> 
						<div class="contact-input" data-validate="Message is required">
							<span class="contact-label-input"></span>
								{{recaptcha}}
							<span class="focus-input"></span>
						</div>
						<div class="row"> 
						<div class="col text-center"> 

							<button class="btn btn-primary" type="submit"> 
							Send 
							</button> 
							 


						</div> 
						</div> 
					</form> 
					</div> 
				</div> 
				<div class="col-md-6"> 
					<div class="card-body"> 
					<p class="mb-0"> 
						<strong>Location </strong> 
					</p> 

					<p class="pb-2">Chennai, Tamil Nadu, India, 600024</p> 

					<p class="mb-0"><strong>Phone</strong></p> 

					<p class="pb-2">+91 9884000186</p> 

					<p class="mb-0"><strong>Email</strong></p> 

						
<p>preeyasree@gmail.com</p> 

					</div> 
				</div> 
				</div> 
			</div> 
			</div> 
		</div> 
		</div> 
	</div> 
	</div> 
</div> 
</div> 
</div> 

</div> 


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script> 

</body> 

</html>
